In [12]:
import pandas as pd

In [50]:
df = pd.read_csv('events_99002.csv', sep=',', decimal=',')

In [51]:
df.head()

   Event_id  Rec_id            event  start_time    end_time  Stimulus_id side
0     42638   99002  whisker overlap  3377957.10  3385890.40         3528    L
1     42639   99002  whisker overlap  3386557.10  3395557.10         3528    L
2     42640   99002  whisker overlap  3396957.10  3406990.40         3528    L
3     42641   99002  whisker overlap  3411490.40  3412257.10         3528    L
4     42642   99002  whisker overlap  3429357.10  3430090.40         3528    L

In [52]:
df['side'].replace({'L': 'R14-M1', 'R': 'R14-M2'}, inplace=True)

In [53]:
# only for partner paradigms
#df['side'] = 'R10-F1'

In [54]:
df.head()

,Event_id,Rec_id,event,start_time,end_time,Stimulus_id,side
0,42638,99002,whisker overlap,3377957.10,3385890.40,3528,R14-M1
1,42639,99002,whisker overlap,3386557.10,3395557.10,3528,R14-M1
2,42640,99002,whisker overlap,3396957.10,3406990.40,3528,R14-M1
3,42641,99002,whisker overlap,3411490.40,3412257.10,3528,R14-M1
4,42642,99002,whisker overlap,3429357.10,3430090.40,3528,R14-M1

In [55]:
df.to_csv('cleaned_events_99002.csv')