In [12]:
import pandas as pd

In [38]:
df = pd.read_csv('events_146001.csv', sep=',', decimal=',')

In [39]:
df.head()

   Event_id  Rec_id       event  start_time    end_time  Stimulus_id side
0     26508  146001  nose touch  1799041.40  1802074.70         1977    R
1     26507  146001  nose touch  1782908.00  1795508.00         1978    L
2     26506  146001  nose touch  1769474.70  1780974.70         1978    L
3     26505  146001  nose touch  1763408.00  1766674.70         1978    L
4     26504  146001  nose touch  1744374.70  1744608.00         1977    R

In [40]:
df['side'].replace({'L': 'R17-M2', 'R': 'R17-M1'}, inplace=True)

In [41]:
df.head()

   Event_id  Rec_id       event  start_time    end_time  Stimulus_id    side
0     26508  146001  nose touch  1799041.40  1802074.70         1977  R17-M1
1     26507  146001  nose touch  1782908.00  1795508.00         1978  R17-M2
2     26506  146001  nose touch  1769474.70  1780974.70         1978  R17-M2
3     26505  146001  nose touch  1763408.00  1766674.70         1978  R17-M2
4     26504  146001  nose touch  1744374.70  1744608.00         1977  R17-M1

In [42]:
df.to_csv('cleaned_events_146001.csv')